/*
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/

:root {
  /* Colours */
  --bitcoin-orange: #f7931a;
  --sof-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --black: #201e1c;
  --warm-black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

/* ----HEADER---- */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 34rem;
  text-align: center;
  align-items: center;
  background-color: var(--black);
}
.header--img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
}
.header--container {
  width: 90%;
  min-width: 2.9rem;
  max-width: 50rem;
  height: 22rem;
  margin-top: 4rem;
  text-align: center;
}
.header--container h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--just-white);
}
.header--container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--sof-orange);
}
.header--container .header--btn {
  position: absolute;
  left: calc(50% - 13rem);
  top: 26.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  padding: 1.5rem;
  width: 23rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.4rem 0.8rem #59491e29;
  background-color: var(--off-white);
  cursor: pointer;
}
.header--btn a {
  align-self: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--warm-black);
}
.header--btn span {
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  background-image: url("https://i.postimg.cc/xj5tqYcW/arrow-down.png");
}

/* ----MAIN---- */

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  min-width: 32rem;
  height: auto;
  background-color: var(--just-white);
  text-align: center;
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 8rem;
  text-align: center;
}
.main-exchange-container--img img {
  background-color: #80808005;
}
.main-exchange-container--title {
  justify-content: center;
  min-width: 28.8rem;
  margin-top: 4.4rem;
}
.main-exchange-container--title h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
  color: var(--warm-black);
}
.main-exchange-container--title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--grey);
  margin-bottom: 4.8rem;
}
.main-exchange-container--table h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--bitcoin-orange);
  margin-bottom: 1.2rem;
}
/* .main-exchange-container--table__table {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 15rem));
  grid-auto-rows: 4rem;
  width: 95%;
  min-width: 2.9rem;
  margin: 0 auto 1.6rem auto;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.94rem;
  font-weight: 500;
  color: var(--grey);
  background-color: var(--off-white);
} 
.main-exchange-container--table__table .table--name,
.main-exchange-container--table__table .table--price {
  width: 90%;
  height: 90%;
  border: 0.2rem solid var(--just-white);
}
.main-exchange-container--table__table .table--name {
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}
.main-exchange-container--table__table .table--price {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  width: 100%;
  text-align: right;
}
.main-exchange-container--table__table .table--price p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: right;
}
.main-exchange-container--table__table .table--price img {
  width: 1.3rem;
  height: 1.34rem;
}*/

.main-exchange-container--table > p {
  width: 11.5rem;
  margin: 0 auto 6.4rem auto;
  padding: 0.8rem;
  border-radius: 0.5rem;
  line-height: 1.45rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--warm-black);
  background-color: var(--sof-orange);
}
.main-exchange-container--table > p span {
  font-weight: 700;
}
.main-information-container {
  width: 100%;
  height: auto;
  padding-top: 6.4rem;
  padding-bottom: 4.6rem;
  background-color: var(--black);
}
.main-information-container--card__first{
    margin: 0 1.5rem 3.2rem 1.5rem;
}
.main-information-container--card__first h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--just-white);
}
.main-information-container p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--sof-orange);
}
.main-information-container--table{
 display: grid;
 grid-template-columns: repeat(1, minmax(288px, 343px));
 /* grid-auto-rows: 18.2375rem; */
 gap: 1.6rem;
 margin: 0 1.6rem;
 text-align: left;
 justify-content: center;
  
}
.main-information-container--card {
  padding: 1.8rem 1.6rem 2.2rem 1.6rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.4rem 0.8rem #00000029;
  background-color: var(--warm-black);
}
.main-information-container--card h2{
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--just-white);
}
