/* 
1. Position
2. Box model
3. Typographic
4. Visuals
5. Miscelaneos
*/

:root {
  /* Colours */
  --bitcoin-orange: #f7931a;
  --sof-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --black: #201e1c;
  --warm-black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

/* ----HEADER---- */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 34rem;
  text-align: center;
  align-items: center;
  background-color: var(--black);
}
.header--img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
}
.header--container {
  width: 90%;
  min-width: 2.9rem;
  max-width: 90rem;
  height: 22rem;
  margin-top: 4rem;
  text-align: center;
}
.header--container h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--just-white);
}
.header--container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--sof-orange);
}
.header--container .header--btn {
  position: absolute;
  left: calc(50% - 13rem);
  top: 26.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  padding: 1.5rem;
  width: 23rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.4rem 0.8rem #59491e29;
  background-color: var(--off-white);
  cursor: pointer;
}
.header--btn a {
  align-self: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--warm-black);
}
.header--btn span {
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  background-image: url("https://i.postimg.cc/xj5tqYcW/arrow-down.png");
}
