.main-exchange-container--tables {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 4.4rem;
}
.main-background-container {
  width: 100%;
  height: 30rem;
  background-image: url(https://i.postimg.cc/zBTNf4tg/bitcoinbaby2.png);
  background-size: cover;
  background-position: center center;
}
.main-background-container p{
    margin: 12.8rem auto;
    font-size: 4rem;
    line-height: 4.2rem;
}
.main-plan-container--slider{
  overflow-x: hidden;
}
.main-information-container--table {
  grid-template-columns: repeat(2, 343px);
}
.footer-container{
    gap: 18rem;
}